{% extends "auth/base.html" %}

{% block title %}Log In{% endblock %}

{% block directive %}Enter your details{% endblock %}

{% block forms %}
<div class="form-floating">
  <input type="username" name="username" class="form-control form-start" id="floatingInput" placeholder="username">
  <label for="floatingInput">Username</label>
</div>
<div class="form-floating">
  <input type="password" name="passwd" class="form-control form-end" id="floatingPassword" placeholder="password">
  <label for="floatingPassword">Password</label>
</div>

<div class="checkbox">
  <label>
    <input type="checkbox" name="remember-me" value="yes"> Remember me
  </label>
</div>
{% endblock %}