{% extends "auth/base.html" %}

{% block title %}Register{% endblock %}

{% block directive %}Choose a strong password{% endblock %}

{% block forms %}
<div class="form-floating">
  <input type="username" name="username" class="form-control form-start" id="floatingInput" placeholder="username">
  <label for="floatingInput">Username</label>
</div>
<div class="form-floating">
  <input type="password" name="passwd1" class="form-control form-block" id="floatingPassword" placeholder="password">
  <label for="floatingPassword">Password</label>
</div>
<div class="form-floating">
  <input type="password" name="passwd2" class="form-control form-end" id="floatingPassword" placeholder="password">
  <label for="floatingPassword">Repeat Password</label>
</div>
{% endblock %}