{% extends "base.html" %}

{% block header %}
  <h1>{% block title %}Play{% endblock %}</h1>
{% endblock %}

{% block content %}
  <p>You're in the game.</p>
  <h2>Artist: {{ artist }}</h2>
  <form method="post">
    {% for word in words %}
      {% if word|length == 1 %}
        {{word}}
      {% else %}
        <label for="w{{loop.index0}}">{{word|first}}</label>
        <input name="w{{loop.index0}}" id="word">
      {% endif %}
    {% endfor %}
    <input type="submit" value="Guess">
  </form>
{% endblock %}