{% extends "base.html" %}

{% block activate_play %} active {% endblock %}

{% block style %}
<style>
  .input-group-text {
    padding-right: 0.25rem;
  }
  .form-control {
    padding-left: 0;
  }
  .form-control:focus {
    padding-left: 0.5rem;
  }
</style>
{% endblock%}

{% block header %}
  <h1>{% block title %}Play{% endblock %}</h1>
{% endblock %}

{% block content %}
  <p>You're in the game! The artist name is displayed below, now try to guess the song name given only the first letter of each word. Don't worry about any punctuation or capitalisation, just get the letters right.</p>
  <br>
  <h2>Artist:</h2>
  <h1 class="display-3">{{artist}}</h1>
  <form method="post" class="mt-5">
    <div class="row g-3">
      {% for word in words %}
        <div class="col-1" style="width: {{'12' if word|length > 1 else '5'}}%">
          <div class="input-group">
            {% if word|length == 1 %}
              <span class="input-group-text" id="basic-addon1" style="padding-right: 0.75rem;">{{word|first}}</span>
            {% else %}
              <span class="input-group-text" id="basic-addon1">{{word|first}}</span>
              <input type="text" class="form-control" name="w{{loop.index0}}">
            {% endif %}
          </div>
        </div>
      {% endfor %}
      <div class="col">
        <button type="submit" class="btn btn-primary">Guess</button>
      </div>
    </div>
  </form>
{% endblock %}