{% extends "base.html" %}

{% block activate_index %} active {% endblock %}

{% block title %}Home{% endblock %}

{% block content %}
  <h1 class="display-3 text-center">Hello!</h1>
  <p class="lead text-center">
    Welcome to my implementation of the OCR Computing GCSE NEA Project - the music quiz.
  </p>
  <h3>How do I play?</h3>
  <p>
    Just register for an account, then log in. You'll then be able to access the Play page - where you can start guessing away at song titles. For each song, you're provided with the artist name and the first letter of each word of the title. The game ends when you guess incorrectly twice - or complete every song in the database. :P
  </p>
  <p>
    You gain 3 points for a correct guess first time, and 1 for a correct guess the second time. Once you finish a game, you'll be directed to the leaderboard where you can view the top highscores.
  </p>
{% endblock %}
