{% extends "base.html" %}

{% block activate_index %} active {% endblock %}

{% block title %}Home{% endblock %}

{% block content %}
  <h1 class="display-3 text-center">Hello!</h1>
  <p class="lead text-center">
    Welcome to my implementation of the OCR Computing GCSE NEA Project - the music quiz.
  </p>
  <h3>How do I play?</h3>
  <p>
    Just register for an account, then log in. You'll then be able to access the Play page - where you can start guessing away at song titles. For each song, you're provided with the artist name and the first letter of each word of the title. The game ends when you guess incorrectly twice - or complete every song in the database. :P
  </p>
  <p>
    You gain 3 points for a correct guess first time, and 1 for a correct guess the second time. Once you finish a game, you'll be directed to the leaderboard where you can view the top highscores.
  </p>
  <h3>Something doesn't work / isn't quite right.</h3>
  <p>
    I need your help to improve the site. <strong>Please get in contact with me on Discord:</strong> you can DM me directly at <kbd>404dcdcc#7700</kbd>, or ping me in a mutual server.
  </p>
  <p>
    Equally, if you'd like to try to make something not work, go ahead. I hope that the site's security is strong, but I can't be sure and there's probably something somewhere that I haven't found yet. If you can find it - please let me know! See below for what you can and cannot do.
  </p>
  <h5>Pen-testing scope</h5>
  <p>
    This website, and any page, file or directory served by it. No attempts to DoS or DDoS please, and try to limit any damage caused in general. Prove command injection with a simple <code>whoami</code>, and SQL injection with a sleep command (though I am using prepared statements everywhere, good luck).
  </p>
  <h5>Details</h5>
  <p>
    This is a Python flask application, using Jinja templates and an sqlite3 database. I am running it on a small Azure server using the python waitress WSGI library.
  </p>
{% endblock %}